body{
    display: flex;
    justify-content: center;
}

p{
    display: flex;
    width: 50%;
    justify-content: space-between;
}

a{
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px 50px;
}

a:hover{
    background-color: transparent;
    color: black;
    border: 1px black solid;
}